* {
    /* outline: 2px solid red; */
    font-family: Georgia, 'Times New Roman', Times, serif
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    background-color: rgb(61, 153, 199, 50%);
}

a {
    text-decoration: none;
    color: bisque;
    /* link com cor e sem sublinhado */
}


.home-title {
    text-align: center;
    color: bisque;
    background-color: rgb(61, 153, 199);
    padding: 10px;
    border: 3px solid rgb(52, 109, 158);
    margin: 5px;
    height: 70px;
    width: 800px;
    display: block;
    box-sizing: border-box; 
    margin-right: auto;
    margin-left: auto;
}

h1,
h2 {
    text-align: center;
    color: bisque;
}

button {
    background-color: rgb(61, 153, 199);
    color: aliceblue;
    margin: 12px 30px;
    border: 2px solid rgb(52, 109, 158);
    height: 20px;
    width: 110px;
    box-sizing: content-box;
    display: inline;
    /* position: fixed; */
}

.hot {
    margin-left: 420px;
}

.button-pages {
    position: fixed;
    background-color: rgb(28, 127, 177);
}

img {
    display: inline; 
    margin-right: auto;
    margin-left: 10px;
    margin-bottom: 32px;
    background-color: blue;
}

ul li,
ol li,
.description {
    font-size: 20px;
    color: rgb(9, 53, 92);
}

.pages-title,
h2 {
    background: rgb(61, 153, 199);
    margin: -16px -16px 16px -16px;
    padding: 16px;
    /* 16px = 1rem */
}

.description,
ul,
ol {
    margin-bottom: 35px;
}

